---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";

import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types";

import { NotionAPI } from 'notion-client';
import { NotionDetail } from '@components/Notion/Detail';
// import "react-notion-x/src/styles.css";

const notion = new NotionAPI()

export interface Props {
  post: MarkdownInstance<Frontmatter>;
  id: string;
}

const { id } = Astro.props;
const { frontmatter }: { frontmatter: Frontmatter} = Astro.props.post;

const { title, author, description, ogImage, date, tags } = frontmatter || {};

const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin)
  .href;

const recordMap = await notion.getPage(id);
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
  <Header />
  <main id="main-content">
    <article id="article" role="article" class="mx-auto max-w-3xl mt-8 prose">
      <NotionDetail recordMap={recordMap} client:load />
    </article>

    {
      tags && (
        <ul class="tags-container">
          {tags.map(tag => (
            <Tag name={tag} />
          ))}
        </ul>
      )
    }
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply max-w-3xl mx-auto px-4 pb-12 w-full;
  }
  .post-title {
    @apply font-semibold text-2xl text-skin-accent;
  }
  .tags-container {
    @apply my-8;
  }
</style>
