---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types";
import { Colorful } from "@components/Home/Colorful";

export interface Props {
  post: MarkdownInstance<Frontmatter>;
}

const { frontmatter, Content } = Astro.props.post;
const { id } = Astro.props;

const { title, author, description, ogImage, date, tags } = frontmatter;

const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin)
  .href;
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
  <Header />
  <Colorful />
  <div class="mt-12 mb-12 mx-auto pt-20 py-8 max-w-6xl">
    <h1 class="leading-tight text-7xl text-center text-[var(--color-accent)] font-bold">{title}</h1>
    <Datetime datetime={date} size="lg" className="mt-12 mx-auto" />
    {
      tags && (
        <ul class="py-8 flex items-center justify-center">
          {tags.map(tag => (
            <Tag name={tag} />
          ))}
        </ul>
      )
    }
  </div>
  <main id="main-content">
    <article id="article" role="article" class="mx-auto max-w-3xl mt-8 prose">
      {id ? <div>asdfsdf</div>: <Content />}
    </article>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply max-w-3xl mx-auto px-4 pb-12 w-full;
  }
  .post-title {
    @apply font-semibold text-2xl text-skin-accent;
  }
</style>
